/*
essential styles:
these make the slideshow work
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 992px;
    padding: 0 20px;
    margin: 0 auto;
}

.slides {
    position: relative;
    height: 150px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -999;
    transition: opacity 0.25s;
}

.active {
    opacity: 1;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}

.slide:nth-of-type(2) {
    background: orange;
}

.slide:nth-of-type(3) {
    background: green;
}

.slide:nth-of-type(4) {
    background: blue;
}

.slide:nth-of-type(5) {
    background: purple;
}

.slides {
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 20px;
}

.control {
    padding: 10px 20px;
    background-color: lightsteelblue;
    cursor: pointer;
    user-select: none;
    display: block;
    margin-bottom: 20px;
}

.indicators {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.indicator {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: steelblue;
    cursor: pointer;
    user-select: none;

    &.active {
        background-color: tomato;
    }
}

.control-pause{
    position: relative;
    span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
}