/*
essential styles:
these make the slideshow work
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@mixin control {
    background-color: black;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.slides {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -999;
    transition: opacity 0.25s;
}

.active {
    opacity: 1;
}

.slides {
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.control {
    padding: 10px 20px;
    background-color: lightsteelblue;
    cursor: pointer;
    user-select: none;
    display: block;
    margin-bottom: 20px;

}

.indicators {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    list-style: none;
}

.indicator {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: steelblue;
    cursor: pointer;
    user-select: none;

    &.active {
        background-color: rgb(227, 28, 28);
    }
}

.control-prev {
    @include control;

}
.control-next {
    @include control;

}
.control-pause {
    position: relative;
    @include control;
    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.carousel {
    width: 500px;
    margin: 0 auto;
}

.slides {
    height: 312px;
}

.img-slider {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.nav-item {
    margin: 10px;
    a {
        color: white;

        &:hover {
            color: rgb(227, 28, 28);
        }
    }
}

.carousel-block {
    display: flex;
    width: 500px;
    margin: 0 auto;
    margin-top: 88px;
}